<template>
    <div id="post" class="post" v-if="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
    </div>
</template>

<script>
export default {
  name: 'post',
  data () {
      return {
        endpoint: 'https://jsonplaceholder.typicode.com/posts',
        post: null   
      }
  },
  methods: {
      getSinglePost: function(id) {
          this.$http.get(this.endpoint).then(response => {
            this.post = response.body[id];
          }, response => {
            //   error
          })
      }
  },
  created: function() {
    var postId = this.$route.params.id

    this.getSinglePost(postId)
  }
}
</script>
<style lang="scss">
    

</style>
