<template>
  <div id="app">
    <vue-header :title="message" @changeTitle="message = $event"></vue-header>
    <button v-on:click="changeImg()">Show/Hide</button>
    <img v-if="show" src="./assets/logo.png">
    <p v-else>{{ message | lowercase | capitalize }}</p>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      show: false,
      message: "Hello WORLD, hey...",
      cars: [
        {
          model: "BMW",
          speed: 360
        },
        {
          model: "Mercedes",
          speed: 280
        },
        {
          model: "Ford",
          speed: 180
        }
      ]
    }
  },
  methods: {
    changeImg() {
      this.show = !this.show;
    }
  },
  computed: {
    showMess() {
      return this.message.toUpperCase();
    }
  },
  filters: {
    lowercase(value) {
      return value.toLowerCase();
    }
  }
}
</script>

<style src="./sass/base.scss" lang="scss"></style>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
</style>
