<template>
    <header id="header">
        <h2>{{ message }}</h2>
        <ul class="nav">
            <li class="nav__item"  v-for="nav in navigation"><a :href="nav.link" :class="{ 'active': nav.active }"> {{ nav.item }} </a></li>
        </ul>
        <ul class="nav">
            <router-link to="/page1">Page1</router-link>
            <router-link to="/page2">Page2</router-link>
            <router-link to="/blog">blog</router-link>
        </ul>

        <input type="text" :value="title" @input="changeMessage">
    </header>
</template>


<script>
export default {
  name: 'header',
  props: ['title'],
  data () {
      return {
          message: '',
          navigation: [
              {
                  item: 'google',
                  link: 'google.com',
                  active: true
              },
              {
                  item: 'microsoft',
                  link: 'microsoft.com',
                  active: false
              },
              {
                  item: 'apple',
                  link: 'apple.com',
                  active: false
              },
              {
                  item: 'vuejs',
                  link: 'vuejs.org',
                  active: false
              }
          ]
      }
  },
  methods: {
      changeMessage(event) {
          this.message = event.target.value;
          this.$emit('changeTitle', this.message);
      }
  }

}
</script>
<style lang="scss">
    // .nav {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     width: 600px;
    //     margin: 0 auto;
    //     padding: 50px 0;
    // }
    // .nav__item {
    //     font-size: 18px;

    // }
    .nav__item {
        a {
            text-decoration: none;
            display: none;
        }
    }
    // .nav__item a.active {
    //     text-decoration: underline;
    //     font-weight: bold;
    // }

</style>
